.Hero-text{
    color: #00a998;
    text-align: center;
    margin-top: 70px;
        position: absolute; 
        left: 0; 
        right: 0; 
   
    
}
.hero-image{
 
  width: 1000px;
  align-items: center;
margin-left: 70px;
position: relative;
/* margin-top: 400px; */


}